<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory>
		<property name="dialect">NHibernate.Dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
		<property name="connection.connection_string">
			Server=localhost;Database=vendinha;User Id=postgres;Password=123;
		</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping assembly="VendinhaInterfocus"></mapping>
	</session-factory>
</hibernate-configuration>